@model WebApplication1.Models.Employee

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Employee</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.EmployeeID)
    @if (@Model.EmployeePhoto != null)
    {   <div class="form-group">
    @Html.LabelFor(model => model.EmployeePhoto, htmlAttributes: new { @class = "control-label col-md-2" })
    <img src="@Model.EmployeePhoto" id="photo"/>
    <input name="EmployeePhoto" type="text" id="url" hidden />
    <button id="editPhoto" type="button">Edit Photo</button>
    <div class="form-group" id="imageDiv" style="margin-top:10px">
        @Html.LabelFor(model => model.EmployeePhoto, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td><div id="webcam"></div></td>
                    <td><img id="imgCapture" /></td>
                </tr>
                <tr>
                    <td align="center" style="margin-left:10px">
                        <input type="button" id="btnCapture" value="Capture" />
                    </td>
                    <td align="center" >
                        <input name="EmployeePhoto" type="text" id="url" hidden />
                    </td>
                </tr>
            </table>


        </div>
    </div>

</div>
    }
    else 
    {
        <div class="form-group">
            <label>Employee Photo Edit</label>
        @*@Html.LabelFor(model => model.EmployeePhoto, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td><div id="webcam"></div></td>
                    <td><img id="imgCapture" /></td>
                </tr>
                <tr>
                    <td align="center">
                        <input type="button" id="btnCapture" value="Capture" />
                    </td>
                    <td align="center">
                        <input name="EmployeePhoto" type="text" id="url" hidden />
                    </td>
                </tr>
            </table>


        </div>
     </div>

    }

    @*<button id="reCapture">Recapture Image</button>*@


    <div class="form-group">
        @Html.LabelFor(model => model.EmployeeCode, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EmployeeCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EmployeeCode, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CellNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CellNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CellNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DisplayName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="~/Webcam_Plugin/webcam.js"></script>
    <script type="text/javascript">
        var imageDiv = null;
        var editPhoto = null;
        var photo = null;
        imageDiv = document.getElementById('imageDiv')
        editPhoto = document.getElementById('editPhoto')
        photo = document.getElementById('photo')
       imageDiv.hidden = true;
        $(function () {
            
            Webcam.set({
                width: 320,
                height: 240,
                image_format: 'jpeg',
                jpeg_quality: 90
            });
        
                Webcam.attach('#webcam');
                $("#btnCapture").click(function () {
                    Webcam.snap(function (data_uri) {
                        $("#imgCapture")[0].src = data_uri;
                        $("#url").val(data_uri);
                        $("#btnUpload").removeAttr("disabled");
                    });
                });
            
           
            //$("#btnUpload").click(function () {
            //    var picture = "{data: '" + $("#imgCapture")[0].src + "'}";
            //    $.ajax({
            //        type: "POST",
            //        url: "/Employees/SaveCapture",
            //        data: "{data: '" + $("#imgCapture")[0].src + "'}",
            //        contentType: "application/json; charset=utf-8",
            //        dataType: "json",
            //        success: function (r) { }
            //    });
            //});
        });
        $('#editPhoto').click(function () {
            console.log('button clicked')
            photo.hidden = true;
            imageDiv.hidden = false;
            Webcam.set({
                width: 320,
                height: 240,
                image_format: 'jpeg',
                jpeg_quality: 90
            });
           
            Webcam.attach('#webcam');
             $("#btnCapture").click(function () {
            Webcam.snap(function (data_uri) {
               $("#imgCapture")[0].src = data_uri;
            $("#url").val(data_uri);
                  $("#btnUpload").removeAttr("disabled");
                    });
               });
          
        });
    </script>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
