@model IEnumerable<WebApplication1.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Employee Management Dashboard </h2>
<ul class="nav navbar-nav navbar-right">

  <li>
    <h4>
        <u>
            <strong>@Html.ActionLink("Add New Employee", "Create") </strong>
        </u>
        </h4 >
    </li>
    <li style="padding-left:25px">
        <h4>
            <u>
                <strong>@Html.ActionLink("Back to Attendance View", "Index", "Attendances")</strong>
            </u>
         </h4>
    </li>
</ul>


<div class="card-header" style="margin-top:8%;margin-bottom:8%">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.EmployeeCode)</th>
                    <th>@Html.DisplayNameFor(model => model.EmailAddress)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.Surname)</th>
                    <th>@Html.DisplayNameFor(model => model.CellNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.DisplayName)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CellNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisplayName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }, new { @class = "btn btn-primary" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.EmployeeID }, new { @class = "btn btn-default" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
